*{
	padding: 0px;
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-decoration: none;
	list-style: none;
}
body{
	background-image: url(imagens/fundo.png);
	background-repeat: repeat-x;
}
/*Começo do header*/
#header{
	width: 750px;
	margin: 0px auto;
	margin-bottom: 60px;
}
#logo{
	margin: 30px 10px;
}
#detalhe{
	float: right;
}
#header ul li{
	text-align: center;
	padding: 15px;
	display: inline;
	background-color: #b10333;
}
#header ul{
	display: inline;
}
#header a:link, a:visited{
	color: white;
}
#header a:hover{
	color: black;
}
/*fim do header*/

/*Começo conteudo*/
#conteudo{
	margin: 0px auto;
	width: 750px;
	font-size: 1em;
}

.caixa div a{
	text-decoration: underline;
	color: #b10333;
	font-size: 0.8em;
}
.caixa h1{
	margin-bottom: 10px;
	padding: 4px;
	text-decoration: bold;
	color: white;
	font-size: 1em;
	background-color: #294c71;
}
.caixa div h1{
	margin-bottom: 0px ;
	font-size: 0.8em;
	text-transform: uppercase;
	background-color: #b10333;
}
.caixa img{
	border: 3px solid #dfdfdf ;
}
.caixa p{
	font-size: 0.8em;
}
.color{
	background-color: white;
}
.caixa{
	margin-top: 5px;
	padding: 5px;
	background-image: url(imagens/fundo-caixa.png);
}
#conteudo ul li{
	padding: 5px;
	background-color: white;
}
.barra-fim a:visited, a:link{
	color: black;
	font-size: 0.9em;
}
.barra-fim{
	width: 35%;
	float: right;
}
.barra-lateral{
	float: left;
	width: 21%
}
.barra-lateral a:visited, a:link{
	color: black;
}
.barra-lateral ul li a:hover{
	padding-left: 20px;
	color: black;
	background: url(imagens/marcador.png) no-repeat center left;
}
.barra-centro ul li{
	border-bottom: solid 0.1px black ;
}
.barra-centro{
	margin-left: 16px ;
	width: 35%;
	float: left;
}
.barra-centro a:visited, a:link{
	color: black;
	font-size: 0.9em;
}
.barra-centro h2 {
	color: #3e7ab9;
	font-size: 0.8em;
}
.barra-centro div img{
	margin-right: 10px;
	width: 30%;
	float: left;
}
.direita{
	float: right;
}
#formulario{
	margin-top: -110px;
	width: 21%;
	float: left;
}
.padding{
	padding: 5px;
}
#formulario form input{
	width: 70%;
}
#submit{
	width: 60px !important;
	font-size: 0.8em;
	color: #fff	;
 	background-color: #b10333;
}
/*Fim conteudo*/